/* TODO Add site wide styles */
html, body, #root, .App {
  height: 100%;
  padding: 0;
  margin: 0;
}

.loginandsignup {
  background: url(https://avante.biz/wp-content/uploads/Library-Backgrounds/Library-Backgrounds-008.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-size: 12px;
}

.loginandsignup-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 600px;
  padding: 28px 10px 34px 10px;
  border: 1px solid #d0d0c8;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #d0d0c8;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  color: #030303
}

fieldset {
  border: none;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

h1{
  display: block;
  width: 100%;
  text-align: center;
  color: #382110;
  background-color: transparent;
  font-size: 20px;
  font-family: "Merriweather", Georgia, 'Times New Roman', serif;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
  line-height: 24px;
}

h2{
  display: block;
  width: 100%;
  text-align: center;
  color: #333;
  background-color: transparent;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.4;
  padding: 0;
}

.signupmessage {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 18px;
}

.input-fields {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #030303;
}

label {
  box-sizing: border-box;
  text-align: left;
  font-weight: bold;
  width: 100%;
  vertical-align: middle;
}

input {
  box-sizing: border-box;
  font-size: 15px;
  padding: 10px 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bold;
  width: 300px;
  background: #FFFFFF;
}

.login-spacer {
  height: 10px;
}

.login-submit, .signup-submit {
  margin-top: 20px;
  color: #333;
}

.signup-submit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 3px;
  border: 1px solid #d6d0c4;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  background-color: #f4f1ea;
  line-height: 1;
  font-weight: bold;
}

.login-signup, .signup-login {
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.login-signup {
  text-align: center;
  margin-top: 24px;
  display: block;
}

.signup-login {
  text-align: center;
  margin-left: 24px;
  display: block;
}

a {
  margin-left: 10px;
  font-weight: normal;
  color: #00635d;
  text-decoration: none;
  cursor: pointer;
}
